@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 30px;
  padding-left: 4%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin: 0;
}

.loader-container svg {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */

.dashboard-container {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0 8%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 0;
}

.activity-chart {
  width: 100%;
  height: 240px;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stat-chart {
  display: flex;
  gap: 2rem;
}

.stat-chart > * {
  flex: 1;
  min-width: 0;
  display: flex;
  height: 200px;
}
