@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 40px;
  padding-left: 4%;
  box-sizing: border-box;
  overflow: hidden;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin: 0;
}

.loader-container svg {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */

.dashboard-container {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 1100px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 0;
}

.activity-chart {
  width: 100%;
  max-width: 900px;
  height: 220px;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin: 0 auto;
}

.stat-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stat-chart {
  display: flex;
  gap: 2rem;
}

.stat-chart > * {
  flex: 1;
  min-width: 0;
  display: flex;
}
