@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 40px;
  padding-left: 4%;
  box-sizing: border-box;
  overflow: hidden;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  margin: 0;
}

.loader-container svg {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */

.dashboard-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  margin: 2rem;
}

.chart-container {
  padding: 0;
}

.activity-chart {
  width: 100%;
  max-width: 900px;
  height: 220px;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin: 0 auto;
}

.stat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat-chart {
  display: flex;
  gap: 2rem;
}
.Graph2 {
  height: 200px;
  width: 250px;
  background-color: rgb(230, 230, 230);
}

.Graph3 {
  height: 200px;
  width: 250px;
  background-color: rgb(230, 230, 230);
}
