@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 40px;
  padding-left: 4%;
  box-sizing: border-box;
  overflow: hidden;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin: 0;
}

.loader-container svg {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */

.dashboard-container {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0 8%;
}
