.avg-chart-container {
  background: linear-gradient(rgba(255, 0, 0, 0.9), rgba(255, 0, 0, 1));
  border-radius: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.avg-chart-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  width: 150px;
}

.avg-tooltip {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  font-size: 0.8rem;
}
