.avg-chart-container {
  background: #ff0000;
  border-radius: 10px;
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.avg-chart-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  width: 150px;
}

.avg-tooltip {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  font-size: 0.8rem;
}
