.average-sessions-chart {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 250px;
  position: relative;
}

.average-chart-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 40px 20px;
  max-width: 150px;
  line-height: 1.5;
}
