.icon-card {
  background-color: #fff;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.icon-card:hover {
  background-color: #ffffffc0;
  transform: scale(1.1);
}

.icon-card-img {
  width: 38px;
  height: 38px;
  object-fit: contain;
}
