.score-container-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score-wrapper {
  background: #fbfbfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.score-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-title {
  margin: 0;
  font-weight: normal;
  position: relative;
  top: 20px;
}
