.welcome-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 30px 0 0 5%;
}

.welcome-name {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.welcome-name span {
  color: #ff0101;
}

.welcome-msg {
  font-size: 1rem;
}
