.welcome-banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0 0 5%;
}

.welcome-name {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0;
}

.welcome-name span {
  color: #ff0101;
}

.welcome-msg {
  font-size: 1rem;
  margin: 10px 0;
}
